@import url("https://fonts.googleapis.com/css?family=PT+Serif:regular,700&display=swap");

@import url('reset.css');

body {
   font-family: "PT Serif";
   font-size: 20px;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
}

[class*="__container"] {
   max-width: 1250px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}


/*=======================HEADER=====================*/

.header {}

.header__container {}

.header__title {}

.header__menu {}

.header__item {}

.header__link {}

.header__sub-menu {}

.header__sub-item {}

.header__sub-link {}

.info-menu {}

.info__menu {}

.info__item {}

.info__link {}

/*====================MAIN: PRACTICE==================*/

.page {}

.page__practice {}

.practice {}

.practice__container {}

.practice__title {
   font-size: 40px;
   text-align: center;
}

.practice__subtitle,
.box__title {
   font-size: 30px;
   text-align: center;
}

.practice__box:not(:last-child) {
   margin-bottom: 50px;
}

.box__info,
.box__text {
   display: inline-block;
   vertical-align: middle;
}

.box__item,
.box__cube {
   display: inline-block;
   border: 1px solid transparent;
   width: 200px;
   height: 200px;
}

.box-info {
   
}

.box__item--shadow {
   background-color: rgba(128, 128, 128, 0.167);
   margin-right: 100px;
}

.box__item--color {
   width: 100%;
   height: 100%;
   border-color: black;
}

.box__item--translate,
.box__item--translate-x,
.box__item--translate-y {
   background: linear-gradient(0deg, rgba(22, 29, 255, 1) 0%, rgba(45, 247, 253, 1) 100%);
}

.box__item--translate {
   transform: translate(20px, 20px);
}

.box__item--translate-x {
   transform: translateX(40px);
}

.box__item--translate-y {
   transform: translateY(40px);
}

.box__text {
   
}

.box__text p{
   max-width: 500px;
}
