@import url('reset.css');
@import url('fonts.css');

body {
   font-family: "Inter", sans-serif ;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

section:not(:last-child) {
   margin-bottom: 50px;
}

/*******************************HEADER**************************/

.header {
}

.header__title,
.footer__title {
   font-family: "DM Serif Text", serif;
   font-size: 60px;
   text-align: center;
   padding: 5px 0;
}

.header,
.footer {
   padding: 20px 0;
}

.header,
.footer {
   position: relative;
}

.header::before,
.footer::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url('../img/bg.jpg') center center/cover;
   z-index: -1;
}

@media (max-width: 430px) {

   .header__title,
   .footer__title {
      font-size: 45px;
   }
}

@media (any-hover: hover) {
   .header:hover::before,
   .footer:hover::before {
      transform: rotate(180deg);
   }
}


/***********************SECTION: RINGS**********************/

.page__rings {
   background: #FEFAF4 url(../img/rings/rings-flower.webp) 100% 83% / 11% no-repeat;
   padding: 125px 0 114px;
   }

.rings__title {
   font-family: "DM Serif Text", serif;
   font-size: 58px;
   margin-bottom: 30px;
}

.rings__info {
   color: #606060;
   font-size: 20px;
   line-height: 1.8;
   margin-bottom: 65px;
}

.rings__columns {
   display: flex;
   flex-wrap: wrap;
   gap: 48px;
}

.rings__item {
   max-width: 357px;
}

.rings__link img {
   width: 100%;
   height: 100%;
   aspect-ratio: 357 / 240;
   background-color: #511809;
   object-fit: contain;
   margin-bottom: 20px;
   transition: all 0.3s;
   overflow: hidden;
}

.rings__subtitle {
   color: #000;
   font-family: "DM Serif Text",serif;
   font-size: 24px;
   line-height: 1.2;
   margin-bottom: 30px;
}

.rings__text {
   margin-bottom: 25px;
}

.rings__text p {
   font-size: 16px;
   line-height: 1.6;
}

.rings__box {}

.rings__more {
   color: #F55529;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.5;
   display: flex;
   justify-content: space-between;
}

.rings__more::after {
   content: '';
   background: url(../img/icon/arrow-right-orange.svg);
   width: 24px;
   height: 24px;
}

@media (max-width: 1220px) {
   .page__rings {
      background: none;
      background: #FEFAF4;
   }
}

@media (max-width: 1196px) {
   .rings__columns {
      flex: 1 1 45%;
      column-gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
   }
   .rings__title,
   .rings__info {
      text-align: center;
   }
}

@media (max-width: 991px) {
   .rings__columns {
      flex: 1 1 45%;
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media (max-width: 809px) {
   .rings__columns {
      flex: 1 1 70%;
   }
}

@media (max-width: 758px) {
   .rings__columns {
      flex: 1 1 95%;
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media (any-hover: hover) {
   .rings__more:hover::after {
      color: #dd3709;
   }
   .rings__link img:hover {
      transform: scale(1.1);
   }
   .rings__subtitle:hover,
   .rings__more:hover {
      text-decoration: underline;
   }
}



/***********************SECTION: GOLD**********************/

.page__gold {
   font-family: "Cormorant Infant", serif;
}

.gold__container {
   max-width: 1170px;
   text-align: center;
}

.gold__title {
   color: #291403;
   font-family: "DM Serif Text";
   font-size: 58px;
   line-height: 1;
   margin-bottom: 30px;
}

.gold__info {
   color: #818181;
   font-size: 30px;
   font-weight: 700;
   line-height: 1.4;
   margin-bottom: 65px;
}

.gold__columns {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 76px;
}

.gold__item {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.gold__body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
}

.gold__link {
   overflow: hidden;
}

.gold__link img {
   width: 100%;
   height: 100%;
   aspect-ratio: 271 / 270;
   object-fit: contain;
   transition: transform 0.3s;
}

.gold__label,
.gold__price {
   color: #000;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.4;
   text-align: left;
}

.gold__link-label {

}

.gold__btn-link {
   color: #FFF;
   font-family: "Ubuntu", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.87;

   background: #FF7A49;
   padding: 12px 42px;
   transition: all 0.3s;
}


@media (max-width: 1112px) {
   .gold__columns {
      column-gap: 20px;
      justify-content: space-between;
   }
   .gold__item {
      flex: 0 1 32%;
   }
}


@media (max-width: 873px) {
   .gold__columns {
      justify-content: space-between;
   }
   .gold__item {
      flex: 1 1 48%;
   }
   .gold__body {
      align-items: center;
   }
   .gold__info {
      margin-bottom: 35px;
   }

}

@media (max-width: 586px) {
   .gold__columns {
      column-gap: 10px;
   }
   .gold__item {
      flex: 0 1 100%;
   }
   .gold__title {
      font-size: 50px;
   }
   .gold__label,
   .gold__price {
      text-align: center;
      font-size: 30px;
   }
}

@media (max-width: 503px) {
   .gold__title {
      font-size: 40px;
   }
   .gold__info {
      font-size: 20px;
   }
   .gold__item {
      padding: 0 15px;
   }
}

@media (any-hover: hover) {
   .gold__btn-link:hover {
      background: #d54f1e;
   }
   .gold__link img:hover {
      transform: scale(1.1);
   }

   .gold__link-label:hover {
      text-decoration: underline;
   } 
}

/***********************SECTION: MINI**********************/

.page__mini {
   background: #0E333D;
   font-family: "Raleway", sans-serif;
   padding: 94px 0;
}

.mini {}

.mini__container {
   max-width: 1205px;
}

.mini__title {
   color: #FFF;
   font-family: "DM Serif Text", serif;
   font-size: 48px;
   line-height: 1.27;
   text-align: center;
   margin-bottom: 30px;
}

.mini__subtitle {
   color: #EBEBEB;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.27;
   text-align: center;
   margin-bottom: 34px;
}

.mini__list {
   display: flex;
   justify-content: center;
   column-gap: 30px;
   margin-bottom: 77px;
}


.mini__item-list {
   color: #FFF;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: 1.27;
}

.mini__link--checked {
   text-decoration: underline;
}


.mini__link img{
   background-color: #1c5e70;
   aspect-ratio: 270 / 271;
   width: 100%;
   height: 100%;
   object-fit: contain;
   border-radius: 5px;
   transition: transform 0.3s;
}

.mini__columns {
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
}

.mini__item {
   display: flex;
   flex-direction: column;
   gap: 22px;
   flex: 0 1 23.05%;
}

.mini__info {
   display: flex;
   flex-direction: column;
   row-gap: 18px;
}

.mini__label,
.mini__price {
   color: #FFF;
   font-family: "Cormorant Infant", serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.4;
}



@media (max-width: 1372px) {
   .mini__columns {
      gap: 20px;
      justify-content: space-between;
   }
}

@media (max-width: 991px) {
   .mini__columns {
      gap: 18px;
   }
   .mini__label,
   .mini__price {
      font-size: 21px;
   }
   .mini__item {
      flex: 0 1 31%;
   }
}

@media (max-width: 734px) {
   .mini__item {
      flex: 1 1 44%;
      justify-content: space-between;
   }
   .mini__columns {
      gap: 25px;
   }
   .mini__label,
   .mini__price {
      font-size: 25px;
   }
}

   

@media (max-width: 484px) {
   .mini__title {
      font-size: 40px;
   }
   .mini__subtitle {
      font-size: 17px;
   }
   .mini__item {
      flex: 0 1 100%;
      text-align: center;
      padding: 0 15px;
   }
   .mini__columns {
      gap: 20px;
   }
}

@media (max-width: 372px) {
   .mini__title {
      text-align: center;
      font-size: 35px;
   }
   .mini__label,
   .mini__price {
      text-align: center;
   }
   .mini__list {
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 30px;
   }
}





@media (any-hover: hover) {
   .mini__link:hover,
   .mini__link--checked:hover,
   .mini__label:hover {
      text-decoration: underline;
   }
   .mini__link img:hover {
      transform: scale(1.1);
   }
}





/***********************FOOTER**********************/

.footer {}