@import url('reset.css');
@import url('fonts.css');

body {
   font-family: "Inter", sans-serif ;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

section {
   margin-bottom: 50px;
}

/*******************************HEADER**************************/

.header {
   margin-bottom: 60px;
}

.header__title,
.footer__title {
   font-family: "DM Serif Text", serif;
   font-size: 60px;
   text-align: center;
   padding: 5px 0;
}


/***********************SECTION: RINGS**********************/

.page__rings {
   background: #FEFAF4 url(../img/rings/rings-flower.webp) 100% 83% / 11% no-repeat;
   padding: 125px 0 114px;
   }


.rings__container {
   
}

.rings__title {
   font-family: "DM Serif Text", serif;
   font-size: 58px;
   margin-bottom: 30px;
}

.rings__info {
   color: #606060;
   font-size: 20px;
   line-height: 1.8;
   margin-bottom: 65px;
   display: inline-block;
}

.rings__columns {
   display: flex;
   flex-wrap: wrap;
   gap: 48px;
}

.rings__item {
   max-width: 357px;
}

.rings__link img {
   width: 100%;
   height: 100%;
   aspect-ratio: 357 / 240;
   background-color: #511809;
   object-fit: contain;
   margin-bottom: 20px;
}

.rings__subtitle {
   color: #000;
   font-family: "DM Serif Text",serif;
   font-size: 24px;
   line-height: 1.2;
   margin-bottom: 30px;
}

.rings__text {
   margin-bottom: 25px;
}

.rings__text p {
   font-size: 16px;
   line-height: 1.6;
}

.rings__box {}

.rings__more {
   color: #F55529;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.5;
   display: flex;
   justify-content: space-between;
}

.rings__more::after {
   content: '';
   background: url(../img/icon/arrow-right-orange.svg);
   width: 24px;
   height: 24px;
   transition: transform 0.5s ease;
}

@media (max-width: 1220px) {
   .page__rings {
      background: none;
      background: #FEFAF4;
   }
}

@media (max-width: 1196px) {
   .rings__columns {
      flex: 1 1 45%;
      column-gap: 4px;
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media (max-width: 991px) {
   .rings__columns {
      flex: 1 1 45%;
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media (max-width: 809px) {
   .rings__columns {
      flex: 1 1 70%;
   }
}

@media (max-width: 758px) {
   .rings__columns {
      flex: 1 1 95%;
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media (any-hover: hover) {
   .rings__more:hover::after {
      color: #dd3709;
      transform: translateX(5px);
   }
}



/***********************SECTION: GOLD**********************/

.page__gold {
   font-family: "Cormorant Infant", serif;
}

.gold__container {
   max-width: 1170px;
   text-align: center;
}

.gold__title {
   color: #291403;
   font-family: "DM Serif Text";
   font-size: 58px;
   line-height: 1;
   margin-bottom: 30px;
}

.gold__info {
   color: #818181;
   font-size: 30px;
   font-weight: 700;
   line-height: 1.4;
   margin-bottom: 65px;
}

.gold__columns {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 76px;
}

.gold__item {
   display: flex;
   flex-direction: column;
   gap: 25px;
   flex: 0 1 270px;
}

.gold__body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
}


.gold__label,
.gold__price {
   color: #000;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.4;
   text-align: left;
}

.gold__btn-link {
   color: #FFF;
   font-family: "Ubuntu", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.87;

   background: #FF7A49;
   padding: 12px 42px;
   transition: all 0.3s;
}


@media (max-width: 1112px) {
   .gold__columns {
      column-gap: 15px;
      justify-content: space-between;
   }
   .gold__item {
      flex: 0 1 32%;
   }
}


@media (max-width: 873px) {
   .gold__columns {
      justify-content: space-around;
   }
   .gold__item {
      flex: 1 1 48%;
   }
   .gold__body {
      align-items: center;
   }
   .gold__info {
      margin-bottom: 35px;
   }

}

@media (max-width: 586px) {
   .gold__columns {
      column-gap: 10px;
   }
   .gold__item {
      flex: 1 1 100%;
   }
   .gold__title {
      font-size: 50px;
   }
}

@media (max-width: 503px) {
   .gold__title {
      font-size: 40px;
   }
   .gold__info {
      font-size: 20px;
   }
}

@media (any-hover: hover) {
   .gold__btn-link:hover {
      background: #d54f1e;
   }
}

/***********************SECTION: MINI**********************/

.page__mini {
   background: #0E333D;
   font-family: "Raleway", sans-serif;
   padding: 94px;
}

.mini {}

.mini__container {
   max-width: 1200px;
}

.mini__title {
   color: #FFF;
   font-family: "DM Serif Text", serif;
   font-size: 48px;
   line-height: 1.27;
   text-align: center;
   margin-bottom: 30px;
}

.mini__subtitle {
   color: #EBEBEB;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.27;
   text-align: center;
   margin-bottom: 34px;
}

.mini__list {
   display: flex;
   justify-content: center;
   column-gap: 30px;
   margin-bottom: 77px;
}

.mini__item {
   color: #FFF;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: 1.27;
   display: flex;
   flex-direction: column;
   gap: 22px;
}

.mini__item--checked {
   text-decoration: underline;
}

.mini__link {

}

.mini__link img{
   background-color: #1c5e70;
   aspect-ratio: 270 / 271;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
}

.mini__columns {
   display: flex;
   column-gap: 30px;
}

.mini__info {
   display: flex;
   flex-direction: column;
   gap: 18px;
}

.mini__label,
.mini__price {
   color: #FFF;
   font-family: "Cormorant Infant", serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.4;
}







/***********************FOOTER**********************/

.footer {}