@import url(fonts.css);
@import url(reset.css);



body {
	font-family: "Causten", sans-serif;
	font-size: 18px;
	color: #807D7E;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1275px;
	margin: 0 auto;
	padding: 0 15px;	
}

/**HEADER**/

.header {}

.header__container {}

.header__body {
	display: flex;
	justify-content: space-between;
	padding: 34px 0 31px;
}

.header__info,
.header__user-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.header__info {
	
}

.header__user-area {
	
}

.header__logo {
	flex: 0 0 91px;
}

.header__logo img {
	width: 100%;
}


.header__search {}

.user-area {}

.user-area__lang {
	position: relative;
}

.lang {}

.lang__item {}

.lang__link {}

.lang__submenu {
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	padding-top: 10px;
}

.submenu {
	
}

.submenu__item {
	
}

.submenu__item:not(:last-child) {
	margin-bottom: 10px;
}

.lang__item:hover .lang__submenu {
	visibility: visible;
}

.submenu__link {
	text-align: center;
}

.user-area__btn {
	display: flex;
	justify-content: space-between;
}

.btn {}

.btn__item {}

.btn__item--login {}

.btn__link {}

.btn__item--sign {}

