@import url(fonts.css);
@import url(reset.css);



body {
	font-family: "Causten", sans-serif;
	font-size: 18px;
	color: #807D7E;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1275px;
	margin: 0 auto;
	padding: 0 15px;	
}

/**HEADER**/

.header {}

.header__container {}

.header__body {
	display: flex;
	justify-content: space-between;
	padding: 34px 0 31px;
}

.header__info,
.header__user-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.header__info {
	flex: 0 1 calc(439 / 1240 * 100%);
}

.header__user-area {
	flex: 0 1 calc(589 / 1240 * 100%);
}

.header__logo {
	flex: 0 0 91px;
}

.header__logo img {
	width: 100%;
}


.header__search,
.btn__item {
	border: 1px solid transparent;
	border-radius: 8px;
	padding: 12px 48px;
}

.header__search {
	background: #F6F6F6;
}

.header__search span{
	text-align: center;
	font-weight: 500;
	line-height: normal;
}

.header__search span::before {
	content: '';
	background: url(../img/icon/search.svg) 0 2px no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 12px;
}

.user-area {}

.user-area__lang {
	position: relative;
}

.lang {
	color: #333;
	line-height: normal;
}

.lang__item {}

.lang__link {}

.lang__submenu {
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	padding-top: 10px;
}

.submenu {
	
}

.submenu__item {
	
}

.submenu__item:not(:last-child) {
	margin-bottom: 10px;
}

.lang__item:hover .lang__submenu {
	visibility: visible;
}

.submenu__link {
	text-align: center;
}

.user-area__btn {
	display: flex;
	justify-content: space-between;
	gap: 29px;
}

.btn {}

.btn__item {
}

.btn__item--login {
	background: #8A33FD;
}

.btn__item--sign {
	border-color: #3C4242;
}

.btn__link {
	font-weight: 500;
	line-height: normal;
}

.btn__link--login {
	color: #FFF;
}

.btn__link--sign {
	color: #8A33FD;
}


