@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Inter";
  font-size: 18px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*==============HEADER=================*/
.header__info {
  background: rgb(55, 57, 63);
  color: rgb(255, 255, 255);
  line-height: 1.21;
}
.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}
.info__coordinates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}
.info__link, .info__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.info__link::before {
  content: "";
  background: url(../img/icon/location.svg) 0 0/cover no-repeat;
  width: 17px;
  height: 23px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
}
.info__mail::before {
  content: "";
  background: url(../img/icon/envelope.svg) 0 0/cover no-repeat;
  width: 20px;
  height: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}
.info__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.info__time::before {
  content: "";
  background: url(../img/icon/time.svg) 0 0/cover no-repeat;
  width: 17px;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
}
.info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 131px;
}
.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (any-hover: hover) {
  .menu__link:hover .menu__item--parent {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}
.menu__item--parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu .menu__item--parent:hover .submenu {
    visibility: visible;
  }
}
.menu__item--parent::after {
  content: "";
  background: url(../img/icon/menu-arrow.svg) 0 3px no-repeat;
  width: 10px;
  height: 9px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu .menu__item--parent:hover::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.menu__submenu {
  padding-top: 10px;
}
.menu__btn-link {
  padding: 22px 35px;
  background: rgb(107, 119, 229);
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: "Cabin";
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
}

.submenu {
  position: absolute;
  top: 100%;
  left: -10px;
  visibility: hidden;
  padding-top: 5px;
}
.submenu__list {
  background: #5dfed6;
  border-radius: 5px;
  padding: 5px;
}
.submenu__link {
  padding: 7px;
}

/*===============MAIN===============*/
.page__business {
  background: rgb(107, 119, 229);
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.22;
  margin-bottom: 30px;
}
.label::before {
  content: "";
  background: rgb(64, 221, 182);
  width: 12px;
  height: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
}

.title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  max-width: 426px;
  margin-bottom: 20px;
}

.business {
  color: rgb(255, 255, 255);
  padding: 123px 0;
}
.business__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 53px;
     -moz-column-gap: 53px;
          column-gap: 53px;
}
.info-business__text p {
  line-height: 1.46;
  max-width: 522px;
  margin-bottom: 35px;
}
.info-business__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  background: rgb(64, 221, 182);
  max-width: 587px;
  padding: 35px;
  margin-bottom: 50px;
}
.box__items {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 3px solid #6b77e5;
  padding: 30px 22px 30px 28px;
}
.box__number {
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 700;
  line-height: 1.21;
}
.box__text {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.5;
}
.box__info, .box__info span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
}
.box__info span {
  font-weight: 700;
}

.data__form {
  padding: 58px;
  background: rgb(255, 255, 255);
}

.descr__item {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 25px 16px;
  max-width: 472px;
}
.descr__item:not(:last-child) {
  margin-bottom: 25px;
}
.descr__title {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}
.descr__title::before {
  content: "";
  background: url(../img/icon/check-mark.svg) 0 0 no-repeat;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  margin-left: -44px;
  vertical-align: middle;
}
.descr__info {
  line-height: 1.46;
}

.form__field {
  max-width: 464px;
  width: 100%;
  padding: 21px 33px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(248, 248, 248);
}
.form__field:not(:last-child) {
  margin-bottom: 30px;
}
.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}
.form__field--date, .form__field--time {
  max-width: 220px;
  height: 65px;
}
.form__field--textarea {
  margin-bottom: 25px;
}
input::-webkit-input-placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}
input::-moz-placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}
input:-ms-input-placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}
input::-ms-input-placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}
input::placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}