@import url("https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Inter";
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

main {
  padding-top: 130px;
}
@media (max-width: 995) {
  main {
    padding-top: 75px;
  }
}

/*==============HEADER=================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header__info {
  background: rgb(55, 57, 63);
  color: #FFFFFF;
  line-height: 1.21;
}
@media (max-width: 692px) {
  .header__info {
    font-size: 14px;
  }
}
.header__navigation {
  background-color: #95f5d3;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 15px;
  min-height: 60px;
}
@media (max-width: 545px) {
  .info__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.info__coordinates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 545px) {
  .info__coordinates {
    display: none;
  }
}
.info__link, .info__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.info__link::before {
  content: "";
  background: url(../img/icon/location.svg) 0 0/cover no-repeat;
  width: 17px;
  height: 23px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
}
.info__mail::before {
  content: "";
  background: url(../img/icon/envelope.svg) 0 0/cover no-repeat;
  width: 20px;
  height: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}
.info__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.info__time::before {
  content: "";
  background: url(../img/icon/time.svg) 0 0/cover no-repeat;
  width: 17px;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
}
.info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
@media (max-width: 545px) {
  .info__social {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 995px) {
  .navigation__container {
    min-height: 75px;
    max-width: 600px;
  }
}
.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.navigation__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.navigation__btn-link {
  background: rgb(107, 119, 229);
  color: rgb(255, 255, 255);
  font-family: "Cabin";
  font-weight: 600;
  line-height: 1.22;
  text-transform: capitalize;
  padding: 22px 35px;
}
@media (max-width: 1100px) {
  .navigation__btn-link {
    padding: 20px 25px;
  }
}
@media (max-width: 995px) {
  .navigation__btn-link {
    padding: 17px 20px;
    margin-right: 20px;
  }
}

.logo__link {
  z-index: 5;
}
.logo__link--text {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.52;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 5;
}
.logo__link--text span {
  color: #6B77E5;
}

@media (max-width: 995px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 105px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: rgb(143, 255, 255);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 75px;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #61f0f7;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .menu__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 995px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 25px;
    padding-top: 30px;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    text-decoration-line: underline;
  }
}
.menu__item--parent {
  position: relative;
}
.menu__item--parent .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media (max-width: 995px) {
  .menu__item--parent .menu__link {
    display: block;
  }
}
.menu__item--parent .menu__link::after {
  content: "";
  background: url(../img/arrow-header.svg) 0 3px no-repeat;
  width: 11px;
  height: 9px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11px;
          flex: 0 0 11px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 995px) {
  .menu__item--parent .menu__link::after {
    display: none;
  }
}
@media (any-hover: hover) {
  .menu__item--parent:hover .menu__link::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu__item--parent:hover .submenu {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    visibility: visible;
    pointer-events: all;
  }
}
.menu__link {
  color: rgb(55, 57, 63);
  line-height: 1.22;
}
@media (max-width: 995px) {
  .menu__link {
    font-size: 26px;
  }
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  opacity: 0;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  visibility: hidden;
  pointer-events: none;
}
@media (max-width: 995px) {
  .submenu {
    position: relative;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.submenu__list {
  width: 100px;
  border-radius: 15px;
  padding: 15px;
  background-color: rgba(30, 255, 255, 0.897);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 995px) {
  .submenu__list {
    width: 100%;
    border-radius: 0;
  }
}
.submenu__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 995px) {
  .submenu__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (any-hover: hover) {
  .submenu__link:hover {
    text-decoration: underline;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 995px) {
  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    position: relative;
    z-index: 10;
  }
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: black;
  }
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  top: 50%;
  margin-top: -1px;
}

@media (max-width: 995px) {
  .menu-open .menu__body, .menu-open .menu__body::before {
    left: 0;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .menu-open .info__coordinates, .menu-open .info__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 20;
    color: black;
  }
  .menu-open .menu__list {
    padding: 30px 110px 0;
  }
}
@media (max-width: 545px) {
  .menu-open .info__social {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .menu-open .info__container {
    font-size: 12px;
    font-weight: 600;
  }
}

/*===============MAIN===============*/
.page__business {
  background: rgb(107, 119, 229);
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.22;
  margin-bottom: 30px;
}
.label::before {
  content: "";
  background: rgb(64, 221, 182);
  width: 12px;
  height: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
}

.title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  max-width: 426px;
  margin-bottom: 20px;
}

.business {
  color: rgb(255, 255, 255);
  padding: 123px 0;
}
.business__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 53px;
     -moz-column-gap: 53px;
          column-gap: 53px;
}
.business__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
}
.business__data {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
}

.info-business__text p {
  line-height: 1.46;
  max-width: 522px;
  margin-bottom: 35px;
}
.info-business__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  background: rgb(64, 221, 182);
  max-width: 587px;
  padding: 35px;
  margin-bottom: 50px;
}
.box__items {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 3px solid #6b77e5;
  padding: 30px 22px 30px 28px;
}
.box__number {
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 700;
  line-height: 1.21;
}
.box__text {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.5;
}
.box__info, .box__info span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
}
.box__info span {
  font-weight: 700;
}

.data__title {
  margin-bottom: 0;
}
.data__form {
  padding: 58px;
  background: rgb(255, 255, 255);
}

.descr__item {
  padding-bottom: 23px;
  margin-left: 44px;
  max-width: 472px;
}
.descr__item:not(:last-child) {
  margin-bottom: 23px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.descr__title {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}
.descr__title::before {
  content: "";
  background: url(../img/icon/check-mark.svg) 0 0 no-repeat;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  margin-left: -44px;
  vertical-align: middle;
}
.descr__info {
  line-height: 1.46;
}

.form__field {
  max-width: 464px;
  width: 100%;
  padding: 21px 33px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(248, 248, 248);
}
.form__field:not(:last-child) {
  margin-bottom: 30px;
}
.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}
.form__box input[type=date i]::-webkit-calendar-picker-indicator {
  background-image: url("../img/icon/calendar.svg");
}
.form__field--date, .form__field--time {
  max-width: 220px;
  height: 65px;
}
.form__field--textarea {
  margin-bottom: 25px;
  min-height: 140px;
}
.form__button {
  background: rgb(64, 221, 182);
  padding: 21px 61px;
  color: rgb(55, 57, 63);
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}

input::placeholder,
textarea::placeholder {
  color: rgb(55, 57, 63);
  line-height: 22px;
}

/*==================FOOTER=========================*/
.footer {
  background: rgb(55, 57, 63);
  color: rgb(255, 255, 255);
  padding: 95px 0 95px;
}
.footer__box:not(:last-child) {
  padding-bottom: 54px;
  border-bottom: 1px solid rgb(108, 109, 114);
}
.footer__box--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.footer__box--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-top: 25px;
}
.footer__link {
  line-height: 1.22;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer__item::before {
  content: "";
  width: 68px;
  height: 68px;
  border-radius: 50%;
}
.footer__item--tel::before {
  background: rgb(71, 73, 80) url(../img/icon/call.svg) center no-repeat;
}
.footer__item--mail::before {
  background: rgb(71, 73, 80) url(../img/icon/envelope.svg) center no-repeat;
}
.footer__item--location::before {
  background: rgb(71, 73, 80) url(../img/icon/location.svg) center no-repeat;
}
.footer__social-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.footer__copyright, .footer__text {
  line-height: 1.44;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.span-green {
  color: #5dfed6;
}

.span-violet {
  color: #6b77e5;
}