// Шрифти
@import "_fonts.scss";

//  Обнулення
@import "_reset.scss";


body {
   font-family: "Inter";
   font-size: 18px;
   color: rgb(0, 0, 0);
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1250px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

main {
   padding-top: 130px;
   @media (max-width: 995px) {
      padding-top: 55px;
   }
}

/*==============HEADER=================*/

.header {

   position: fixed;
   width: 100%;
   top: 0;
   left: 0;

   &__info {
      background: rgb(55, 57, 63);
      color: #FFFFFF;
      line-height: 1.21;

      @media (max-width: 692px) {
         font-size: 14px;
      }
   }

   &__navigation {
      background-color: #95f5d3;
   }
}

.info {

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 40px;
      row-gap: 15px;
      min-height: 60px;
      @media (max-width: 545px) {
            justify-content: center;
         }
   }


   &__coordinates {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 42px;
      row-gap: 10px;
      flex-wrap: wrap;

      @media (max-width: 545px) {
         display: none;
      }
   }


   &__link,
   &__mail {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__link::before {
      content: '';
      background: url(../img/icon/location.svg) 0 0 / cover no-repeat;
      width: 17px;
      height: 23px;
      flex: 0 0 17px;
   }

   // .info__mail

   &__mail::before {
      content: '';
      background: url(../img/icon/envelope.svg) 0 0 / cover no-repeat;
      width: 20px;
      height: 15px;
      flex: 0 0 20px;
   }

   // .info__user

   &__user {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;
      row-gap: 10px;
      flex-wrap: wrap;
   }

   // .info__time

   &__time {
      display: flex;
      align-items: center;
      gap: 5px;
   }

   &__time::before {
      content: '';
      background: url(../img/icon/time.svg) 0 0 / cover no-repeat;
      width: 17px;
      height: 16px;
      flex: 0 0 17px;
   }

   // .info__social

   &__social {
      display: flex;
      column-gap: 16px;
      transition: transform 0.3s;
      @media (max-width: 545px) {
            column-gap: 40px;
         }
      }
   }

.social {

   // .social__item

   &__item {
      transition: transform 0.3s;
      @media (any-hover: hover) {
            &:hover {
               transform: scale(1.2);
            }
         }
   }

   // .social__link

   &__link {}
}

.navigation {


   &__container {
      display: flex;
      gap: 15px;
      align-items: center;
      min-height: 130px;
      padding-top: 5px;
      padding-bottom: 5px;

      @media (max-width: 995px) {
         min-height: 75px;
      }
   }


   &__logo {
      display: flex;
      align-items: center;
      gap: 4px;
   }


   &__menu {
      flex: 1 1 auto;
   }


   &__btn-link {
      background: rgb(107, 119, 229);
      color: rgb(255, 255, 255);
      font-family: "Cabin";
      font-weight: 600;
      line-height: 1.22;
      text-transform: capitalize;
      padding: 22px 35px;
      transition: background-color 0.3s;

      @media (any-hover: hover) {
         &:hover {
            background-color: rgb(83, 98, 226);
         }
      }
      

      @media (max-width: 1100px) {
         padding: 20px 25px;
      }

      @media (max-width: 995px) {
         padding: 17px 20px;
      }
   }
}

.logo {


   &__link {
      z-index: 5;
   }

   &__link--text {
      font-family: "Poppins";
      font-size: 25px;
      font-weight: 700;
      line-height: 1.52;

      & span {
         color: #6B77E5;
      }

      flex-shrink: 0;
      position: relative;
      z-index: 5;
      @media (max-width: 478px) {
         display: none;
      }
   }
   
}

.menu {

   &__body {
      @media (max-width: 995px) {
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0;
         left: -100%;
         padding: 105px 15px 30px 15px;
         overflow: auto;
         transition: left 0.3s;
         background-color: rgb(143, 255, 255);
         &::before {
            content: '';
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 60px;
            z-index: 2;
            transition: left 0.3s;
            background-color: #681ee8;
         }
      }
   }

   &__list {
      display: flex;
      justify-content: center;
      column-gap: 42px;
      row-gap: 5px;
      flex-wrap: wrap;

      @media (max-width: 1100px) {
         column-gap: 30px;
      }

      @media (max-width: 995px) {
         flex-direction: column;
         text-align: right;
         row-gap: 25px;
         padding-top: 30px;
      }
   }

   &__item {
      @media (any-hover: hover) {
         &:hover .menu__link {
            text-decoration-line: underline;
         }
      }
   }

   &__item--parent {

      position: relative;

      & .menu__link {
         display: flex;
         align-items: center;
         gap: 8px;

         @media (max-width: 995px) {
            display: block;
         }
      }

      & .menu__link::after {
         content: '';
         background: url(../img/arrow-header.svg) 0 3px no-repeat;
         width: 11px;
         height: 9px;
         flex: 0 0 11px;
         transition: transform 0.3s;

         @media (max-width: 995px) {
            display: none;
         }
      }

      @media (any-hover: hover) {
         &:hover .menu__link::after {
            transform: rotate(180deg);
         }

         &:hover .submenu {
            opacity: 1;
            transform: translate(0px, 0px);
            visibility: visible;
            pointer-events: all;
         }
      }
   }

   &__link {
      color: rgb(55, 57, 63);
      line-height: 1.22;

      @media (max-width: 995px) {
         font-size: 26px;
      }
   }

   &__submenu {}
}

.submenu {

   position: absolute;
   top: 100%;
   left: 0;
   padding-top: 5px;
   opacity: 0;
   transform: translate(0px, 10%);
   visibility: hidden;
   pointer-events: none;

   @media (max-width: 995px) {
      position: relative;
      visibility: visible;
      opacity: 1;
      padding-top: 10px;
      transform: translate(0px, 0px);
   }

   &__list {
      width: 100px;
      border-radius: 15px;
      padding: 15px;
      background-color: rgba(30, 255, 255, 0.897);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

      @media (max-width: 995px) {
         width: 100%;
         border-radius: 0;
      }
   }

   &__item {
      &:not(:last-child) {
         margin-bottom: 10px;

         @media (max-width: 995px) {
            margin-bottom: 20px;
         }
      }
   }

   &__link {
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

}

.icon-menu {
   display: none;

   @media (max-width: 995px) {
      display: block;
      width: 30px;
      height: 18px;
      flex: 0 0 30px;
      position: relative;
      z-index: 10;

      &::before,
      &::after,
      & span {
         content: '';
         width: 100%;
         height: 2px;
         position: absolute;
         left: 0;
         transition: all 0.3s;
         background-color: black;
      }
   }

   &::before {
      top: 0;
   }

   &::after {
      bottom: 0;
   }

   & span {
      top: 50%;
      margin-top: -1px;
   }
}

.menu-open {
   @media (max-width: 995px) {

      & .menu__body,
      & .menu__body::before {
         left: 0;
      }

      & .icon-menu {
         & span {
            transform: scale(0);
         }

         &::before {
            transform: rotate(-45deg);
            top: 50%;
            margin-top: -1px;
         }

         &::after {
            transform: rotate(45deg);
            bottom: 50%;
            margin-bottom: -1px;
         }
      }

      & .info__coordinates,
      & .info__user {
         display: flex;
         z-index: 20;
      }

      & .info__coordinates {
         @media (max-width: 485px) {
               display: none;
            }
      }

      & .info__time {
         @media (max-width: 485px) {
               font-size: 16px;
            }
      }

      

      & .menu__list {
         padding: 30px 0;
      }
   }
      @media (max-width: 545px) {
         & .info__social {
            column-gap: 15px;
         }
         & .info__container {
            font-size: 12px;
            font-weight: 600;
         }
      }
}


/*===============MAIN===============*/

.page {

   // .page__business

   &__business {
      background: rgb(107, 119, 229);
   }
}

.label {
   display: flex;
   gap: 6px;
   align-items: center;
   font-weight: 500;
   line-height: 1.22;
   margin-bottom: 30px;

   &::before {
      content: '';
      background: rgb(64, 221, 182);
      width: 12px;
      height: 12px;
      flex: 0 0 12px;
   }
}

.title {
   font-family: "Poppins";
   font-size: 40px;
   font-weight: 700;
   line-height: 1.5;
   max-width: 426px;
   margin-bottom: 20px;
}

.business {
   color: rgb(255, 255, 255);
   padding: 123px 0;

   &__container {
      display: flex;
      column-gap: 53px;
      @media (max-width: 822px) {
         flex-wrap: wrap;
         padding-left: 30px;
         padding-right: 30px;
      }
   }

   &__info {
      @media (max-width: 822px) {
         &:not(:last-child) {
               margin-bottom: 55px;
            }
      }
   }

   &__info,
   &__data {
      flex: 0 1 48%;
      @media (max-width: 822px) {
         flex: 1 1 100%;
         flex-direction: column;
      }
   }
}

.info-business {

   // .info-business__label

   &__label {}


   // .info-business__title

   &__title {}

   // .info-business__text

   &__text p {
      line-height: 1.46;
      max-width: 522px;
      margin-bottom: 35px;
   }

   // .info-business__box

   &__box {
      display: flex;
      align-items: center;
      column-gap: 23px;
      background: rgb(64, 221, 182);
      // max-width: 587px;
      padding: 35px;
      margin-bottom: 50px;
   }

   // .info-business__data

   &__data {}

   // .info-business__descr

   &__descr {}
}

.box {

   // .box__items
   &__items {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      border: 3px solid #6b77e5;
      padding: 30px 22px 30px 28px;
   }

   // .box__number 
   &__number {
      font-family: "Poppins";
      font-size: 35px;
      font-weight: 700;
      line-height: 1.21;
   }

   // .box__text
   &__text {
      font-family: "Poppins";
      font-weight: 600;
      line-height: 1.5;
   }

   // .box__info
   &__info,
   &__info span {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 25px;
   }

   &__info span {
      font-weight: 700;
   }

}

.data {

   // .data__number

   &__number {}

   // .data__text

   &__text {}

   // .data__label

   &__label {}

   // .data__title

   &__title {
      margin-bottom: 0;
   }

   // .data__form

   &__form {
      padding: 58px;
      background: rgb(255, 255, 255);
   }
}

.descr {


   // .descr__item

   &__item {
      padding-bottom: 23px;
      margin-left: 44px;
      max-width: 472px;
   }


   &__item:not(:last-child) {
      margin-bottom: 23px;
      border-bottom: 1px solid rgb(255, 255, 255);
   }

   // .descr__title

   &__title {
      font-family: "Poppins";
      font-size: 22px;
      font-weight: 600;
      line-height: 1.5;
   }

   &__title::before {
      content: '';
      background: url(../img/icon/check-mark.svg) 0 0 no-repeat;
      width: 28px;
      height: 28px;
      margin-right: 16px;
      margin-left: -44px;
      vertical-align: middle;
   }

   // .descr__info

   &__info {
      line-height: 1.46;
   }
}

.form {

   // .form__field

   &__field {
      max-width: 464px;
      width: 100%;
      padding: 21px 33px;
      border: 1px solid rgb(221, 221, 221);
      background-color: rgb(248, 248, 248);
      @media (max-width: 822px) {
            max-width: 100%;
         }
   }

   &__field:not(:last-child) {
      margin-bottom: 30px;
   }


   // .form__box

   &__box {
      display: flex;
      column-gap: 23px;

      @media (max-width: 1106px) {
         flex-direction: column;
         flex-wrap: wrap;
         margin-bottom: 30px;
      }

   }

   &__box input[type=date i]::-webkit-calendar-picker-indicator {
      background-image: url("../img/icon/calendar.svg");
   }

   // .form__field--date

   &__field--date,
   &__field--time {
      max-width: 220px;
      height: 65px;
      @media (max-width: 1106px) {
         flex-basis: 98%;
         max-width: 464px;
         @media (max-width: 822px) {
               max-width: 100%;
            }
      }
   }

   &__field--date {}

   // .form__field--textarea

   &__field--textarea {
      margin-bottom: 25px;
      min-height: 140px;
   }

   // .form__button

   &__button {
      background: rgb(64, 221, 182);
      padding: 21px 61px;
      color: rgb(55, 57, 63);
      font-weight: 600;
      line-height: 22px;
      text-transform: capitalize;
      transition: background-color 0.3s;
      @media (any-hover: hover) {
            &:hover {
               background-color: rgb(42, 196, 158);
            }
         }
   }
}

input::placeholder,
textarea::placeholder {
   color: rgb(55, 57, 63);
   line-height: 22px;
}

/*==================FOOTER=========================*/

.footer {

   background: rgb(55, 57, 63);
   color: rgb(255, 255, 255);
   padding: 95px 0 95px;
   @media (max-width: 1021px) {
         padding: 50px 0 50px;
      }

   // .footer__container

   &__container {}

   &__box:not(:last-child) {
      padding-bottom: 54px;
      border-bottom: 1px solid rgb(108, 109, 114);
   }

   &__box--top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 1021px) {
         flex-direction: column;
      }
   }

   &__box--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding-top: 25px;
      @media (max-width: 963px) {
            flex-direction: column;
         }
   }

   // .footer__link

   &__link {
      line-height: 1.22;
   }

   // .footer__logo

   &__logo {
      // @media (max-width: 1023px) {
      //    display: none;
      // }
   }

   // .footer__list

   &__list {
      display: flex;
      column-gap: 60px;
      @media (max-width: 1086px) {
         column-gap: 30px;
      }
      @media (max-width: 800px) {
         font-size: 15px;
         gap: 20px;
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }

   // .footer__item

   &__item {
      display: flex;
      align-items: center;
      column-gap: 10px;
   }

   &__item::before {
      content: '';
      width: 68px;
      height: 68px;
      flex: 0 0 68px;
      border-radius: 50%;
   }

   &__item--tel::before {
      background: rgb(71, 73, 80) url(../img/icon/call.svg) center no-repeat;
   }

   &__item--mail::before {
      background: rgb(71, 73, 80) url(../img/icon/envelope.svg) center no-repeat;
   }

   &__item--location::before {
      background: rgb(71, 73, 80) url(../img/icon/location.svg) center no-repeat;
   }

   // .footer__title

   &__title {}

   // .footer__info

   &__info {}

   // .footer__box--bottom

   &__box--bottom {}

   &__social-area {
      display: flex;
      align-items: center;
      column-gap: 12px;
   }

   // .footer__copyright

   &__copyright {
      @media (max-width: 747px) {
         font-size: 14px;
      }
      @media (max-width: 589px) {
         max-width: 300px;
         text-align: center;
      }
   }

   &__copyright,
   &__text {
      line-height: 1.44;
   }

   // .footer__social

   &__text {}

   &__social {
      display: flex;
      column-gap: 16px;
   }
}

.span-green {
   color: #5dfed6;
}

.span-violet {
   color: #6b77e5;
}

.social {

   // .social__item

   &__item {}

   // .social__link

   &__link {}
}