// Шрифти
@import "_fonts.scss";

//  Обнулення
@import "_reset.scss";

body {
   font-family: "Inter";
   font-size: 18px;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1250px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

/*==============HEADER=================*/

.header {

   // .header__info

   &__info {
      background: rgb(55, 57, 63);
      color: rgb(255, 255, 255);
      line-height: 1.21;
   }

   // .header__navigation

   &__navigation {
      
   }
}

.info {

   // .info__container

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 60px;
   }

   // .info__coordinates

   &__coordinates {
      display: flex;
      align-items: center;
      column-gap: 42px;
   }

   // .info__link

   &__link,
   &__mail {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__link::before {
      content: '';
      background: url(../img/icon/location.svg) 0 0 / cover no-repeat;
      width: 17px;
      height: 23px;
      flex: 0 0 17px;
   }

   // .info__mail

   &__mail::before {
      content: '';
      background: url(../img/icon/envelope.svg) 0 0 / cover no-repeat;
      width: 20px;
      height: 15px;
      flex: 0 0 20px;
   }

   // .info__user

   &__user {
      display: flex;
      align-items: center;
      column-gap: 50px;
   }

   // .info__time

   &__time {
      display: flex;
      align-items: center;
      gap: 5px;
   }

   &__time::before {
      content: '';
      background: url(../img/icon/time.svg) 0 0 / cover no-repeat;
      width: 17px;
      height: 16px;
      flex: 0 0 17px;
   }

   // .info__social

   &__social {
      display: flex;
      column-gap: 16px;
   }
}

.social {

   // .social__item

   &__item {}

   // .social__link

   &__link {}
}

.navigation {

   // .navigation__container

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 131px;
   }

   // .navigation__logo

   &__logo {}

   // .navigation__menu

   &__menu {
      
   }
}

.menu {

   // .menu__body

   &__body {
      display: flex;
      column-gap: 40px;
   }

   // .menu__list

   &__list {
      display: flex;
      align-items: center;
      column-gap: 40px;
   }

   // .menu__item

   &__item { 
      
   }

   // .menu__link

   &__link {
      @media (any-hover:hover) {
         &:hover .menu__item--parent {
            transition: transform 0.3s;
         }
      }
   }

   // .menu__item--parent

   &__item--parent {
      display: flex;
      align-items: center;
      gap: 7px;
      position: relative;
      transition: all 0.3s;
   }

   @media (any-hover: hover) {
      .menu__item--parent:hover .submenu {
         visibility: visible;
      }
   }

   &__item--parent::after {
      content: '';
      background: url(../img/icon/menu-arrow.svg) 0 3px no-repeat;
      width: 10px;
      height: 9px;
      flex: 0 0 10px;
      transition: all 0.3s;
   }

   @media (any-hover: hover) {
      .menu__item--parent:hover::after {
         transform: rotate(180deg);
      }
   }

   // .menu__submenu

   &__submenu {
      padding-top: 10px;
   }

   // .menu__btn-link

   &__btn-link {
      padding: 22px 35px;
      background: rgb(107, 119, 229);
      color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      font-family: "Cabin";
      font-weight: 600;
      line-height: 22px;
      text-transform: capitalize;
   }
}

.submenu {
   position: absolute;
   top: 100%;
   left: -10px;
   visibility: hidden;
   padding-top: 5px;

   // .submenu__list

   &__list {
      background: #5dfed6;
      border-radius: 5px;
      padding: 5px;
   }

   // .submenu__item

   &__item {
      
   }

   // .submenu__link

   &__link {
      padding: 7px;
   }
}

.icon-menu {}

/*===============MAIN===============*/

.page {

   // .page__business

   &__business {
      background: rgb(107, 119, 229);
   }
}

.label {
   display: flex;
   gap: 6px;
   align-items: center;
   font-weight: 500;
   line-height: 1.22;
   margin-bottom: 30px;

   &::before {
      content: '';
      background: rgb(64, 221, 182);
      width: 12px;
      height: 12px;
      flex: 0 0 12px;
   }
}


.title {
   font-family: "Poppins";
   font-size: 40px;
   font-weight: 700;
   line-height: 1.5;
   max-width: 426px;
   margin-bottom: 20px;
}

.business {
   color: rgb(255, 255, 255);
   padding: 123px 0;
   // .business__container

   &__container {
      display: flex;
      column-gap: 53px;
   }

   // .business__info

   &__info {
      flex: 0 1 580px;
   }

   // .business__data

   &__data {
      flex: 0 1 580px;
   }
}

.info-business {

   // .info-business__label

   &__label {
      
   }


   // .info-business__title

   &__title {
      
   }

   // .info-business__text

   &__text p {
      line-height: 1.46;
      max-width: 522px;
      margin-bottom: 35px;
   }

   // .info-business__box

   &__box {
      display: flex;
      align-items: center;
      column-gap: 23px;
      background: rgb(64, 221, 182);
      max-width: 587px;
      padding: 35px;
      margin-bottom: 50px;
   }

   // .info-business__data

   &__data {}

   // .info-business__descr

   &__descr {}
}

.box {

   // .box__items
   &__items {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      border: 3px solid #6b77e5;
      padding: 30px 22px 30px 28px;
   }

   // .box__number 
   &__number {
      font-family: "Poppins";
      font-size: 35px;
      font-weight: 700;
      line-height: 1.21;
   }

   // .box__text
   &__text {
      font-family: "Poppins";
      font-weight: 600;
      line-height: 1.5;
   }

   // .box__info
   &__info,
   &__info span {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 25px;
   }

   &__info span {
      font-weight: 700;
   }

}

.data {

   // .data__number

   &__number {}

   // .data__text

   &__text {}

   // .data__label

   &__label {
      
   }

   // .data__title

   &__title {
      margin-bottom: 0;
   }

   // .data__form

   &__form {
      padding: 58px;
      background: rgb(255, 255, 255);
   }
}

.descr {


   // .descr__item

   &__item {
      padding-bottom: 23px;
      margin-left: 44px;
      max-width: 472px;
   }


   &__item:not(:last-child) {
      margin-bottom: 23px;
      border-bottom: 1px solid rgb(255, 255, 255);
   }

   // .descr__title

   &__title {
      font-family: "Poppins";
      font-size: 22px;
      font-weight: 600;
      line-height: 1.5;
   }

   &__title::before {
      content: '';
      background: url(../img/icon/check-mark.svg) 0 0 no-repeat;
      width: 28px;
      height: 28px;
      margin-right: 16px;
      margin-left: -44px;
      vertical-align: middle;
   }
   // .descr__info

   &__info {
      line-height: 1.46;
   }
}

.form {
   
   // .form__field

   &__field {
      max-width: 464px;
      width: 100%;
      padding: 21px 33px;
      border: 1px solid rgb(221, 221, 221);
      background-color: rgb(248, 248, 248);
   }

   &__field:not(:last-child) {
      margin-bottom: 30px;
   }

   // .form__box

   &__box {
      display: flex;
      column-gap: 23px;
   }

   // .form__field--date

   &__field--date,
   &__field--time {
      max-width: 220px;
      height: 65px;
   }

   &__field--time {}

   // .form__field--textarea

   &__field--textarea {
      margin-bottom: 25px;
      min-height: 140px;
   }

   // .form__button

   &__button {
      background: rgb(64, 221, 182);
      padding: 21px 61px;
      color: rgb(55, 57, 63);
      font-weight: 600;
      line-height: 22px;
      text-transform: capitalize;
   }
}

input::placeholder,
textarea::placeholder {
   color: rgb(55, 57, 63);
   line-height: 22px;
}

/*==================FOOTER=========================*/

.footer {

   background: rgb(55, 57, 63);
   color: rgb(255, 255, 255);
   min-height: 200px;

   // .footer__container

   &__container {
      
   }

   &__box:not(:last-child) {
      padding-bottom: 54px;
      border-bottom: 1px solid rgb(108, 109, 114);
   }

   &__box--top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      min-height: 205px;
   }

   &__box--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
   }

   // .footer__link

   &__link {
      line-height: 1.22;
   }

   // .footer__logo

   &__logo {
   }

   // .footer__list

   &__list {
      display: flex;
      column-gap: 60px;
   }

   // .footer__item

   &__item {
      display: flex;
      align-items: center;
      column-gap: 10px;
   }

   &__item::before {
      content: '';
      width: 68px;
      height: 68px;
      border-radius: 50%;
   }

   &__item--tel::before {
      background: rgb(71, 73, 80) url(../img/icon/call.svg) center no-repeat;
   }

   &__item--mail::before {
      background: rgb(71, 73, 80) url(../img/icon/envelope.svg) center no-repeat;
   }

   &__item--location::before {
      background: rgb(71, 73, 80) url(../img/icon/location.svg) center no-repeat;
   }

   // .footer__title

   &__title {}

   // .footer__info

   &__info {}

   // .footer__box--bottom

   &__box--bottom {
   }

   &__social-area {
      display: flex;
      align-items: center;
      column-gap: 12px;
   }

   // .footer__copyright

   &__copyright,
   &__text {
      line-height: 1.44;
   }

   // .footer__social

   &__text {

   }
   &__social {
      display: flex;
      column-gap: 16px;
		}
}

.span-green {
   color: #5dfed6;
}
.span-violet {
   color: #6b77e5;
}

.social {

		// .social__item

		&__item {
		}

		// .social__link

		&__link {
		}
}

