@import url('reset.css');
@import url('fonts.css');

body {
   font-family: "Causten", sans-serif;
   font-size: 18px;
   color: #3C4242;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1270px;
   margin: 0 auto;
   padding: 0 15px;
}

section {
   margin-bottom: 50px;
}


/***HEADER***/

.header {
   margin-bottom: 50px;
}

.header__title {
   font-size: 40px;
   text-align: center;
}


/***CONTACTS***/

.page {}

.page__contacts {}

.contacts {
   font-family: "Inter", sans-serif;
   color: #37393F;
   font-size: 18px;
}

.contacts__container{
   max-width: 1250px;
}

.contacts__subtitle {
   font-weight: 500;
   line-height: normal;
   text-align: center;
   margin-bottom: 30px;
}

.contacts__subtitle::before {
   content: '';
   width: 12px;
   height: 12px;
   background: #40DDB6;
   margin-right: 6px;
   vertical-align: 1px;
}

.contacts__title {
   text-align: center;
   font-family: "Poppins", sans-serif;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 40px;
}


.contacts__form {
   
}

.form {}

.form__body {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   column-gap: 35px;
   row-gap: 28px;
}

.form__item {
   flex: 1 1 50%;
   max-width: 591px;
}

.form__item input,
.form__item--textarea textarea {
   border: 1px solid #DDD;
   background: #F8F8F8;
   padding: 21px 40px 20px;
   width: 100%;
}

.form__item--textarea {
   max-width: 100%;
}

.form__item--textarea textarea {
   max-width: 100%;
   min-height: 225px;
   resize: vertical;
}

.contacts__button {
   padding: 21px 61px 22px;
   background: #6B77E5;
   color: #FFF;
   text-align: center;
   font-weight: 600;
   line-height: normal;
   text-transform: capitalize;
}






/***INFO***/

.page__info {}

.info {}

.info__container {}

.info__title {
   color: #3C4242;
   font-family: "Core Sans C", sans-serif;
   font-size: 28px;
   font-weight: 600;
   line-height: 1.19;
   letter-spacing: 0.56px;
   margin-bottom: 20px;
}

.info__subtitle {
   color: #3C4242;
   font-family: "Core Sans C", sans-serif;
   font-size: 22px;
   font-weight: 600;
   line-height: 1.52;
   letter-spacing: 0.44px;
   margin-bottom: 50px;
}

.info__form {
   
}

.form-info {}

.form-info__body {
   display: flex;
   flex-wrap: wrap;
}

.form-info__item {
   flex: 1 1 45%;
}

.form-info__item:not(:last-child) {
   margin-bottom: 31px;
}

.form-info__label {
   display: block;
   color: #3C4242;
   font-family: "Causten", sans-serif;
   font-weight: 600;
   line-height: normal;
   letter-spacing: 0.36px;
   margin-bottom: 10px;
}

.form-info__input {
   max-width: 426px;
   padding: 17.8px 22.3px;
   border-radius: 8px;
   background: #F6F6F6;
   color: #807D7E;
   font-size: 16px;
   line-height: normal;
   max-width: 426px;
}

.form-info__input input {
   
}

.form-info__item--textarea {}

.info__checkbox {}

.checkbox-info {}

.checkbox-info__item {}

.checkbox-info__input {}

.checkbox-info__label {}

.info__button {}

.button-info {}

.button-info__item {}