@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");


@font-face {
      font-family: "Lutsk-city";
      src: url(../fonts/Lutsk-city.woff2) format("woff2"),
            url(../fonts/Lutsk-city.woff) format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "AnastasiaScript";
      src: url(../fonts/AnastasiaScript.woff2) format("woff2"),
            url(../fonts/AnastasiaScript.woff) format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Causten";
      src: url("../fonts/Causten-light.woff2") format("woff2"),
            url("../fonts/Causten-light.woff") format("woff");
      font-weight: 300;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Causten";
      src: url("../fonts/Causten-semibold.woff2") format("woff2"),
            url("../fonts/Causten-semibold.woff") format("woff");
      font-weight: 600;
      font-style: normal;
      font-display: swap;
}


@font-face {
      font-family: "Core Sans C";
      src: url("../fonts/coresansc-bold.woff2") format("woff2"),
            url("../fonts/coresansc-bold.woff") format("woff");
      font-weight: 600;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: "Core Sans C";
      src: url("../fonts/CoreSansC-heavy.woff2") format("woff2"),
            url("../fonts/CoreSansC-heavy.woff") format("woff");
      font-weight: 800;
      font-style: normal;
      font-display: swap;
}

